<%- include('mail-header.ejs') -%>
<% const mailInfo = body.mailInfo; %>
<tr style="border-collapse: collapse;">
  <td height="16" style="padding: 0px; margin: 0px;"></td>
</tr>

<tr style="border-collapse: collapse;">
  <td style="padding: 0px; margin: 0px;">
    <h2 style="margin: 20px 0px 0px; line-height: 36px; font-size: 28px; font-style: normal; font-weight: bold; color: rgb(0, 0, 0);"><a href="<%= process.env.MERCHNAT_BASE_URL %>support/ticket/<%= mailInfo.id %>" rel="noopener noreferrer" style="color: rgb(0, 0, 0);"> <%= 'Ticket # ' + mailInfo.ticket_id %></a></h2>
  </td>
</tr>

<tr style="border-collapse: collapse;">
  <td height="16" style="padding: 0px; margin: 0px;"></td>
</tr>
<tr style="border-collapse: collapse;">
   <td style="padding: 0px; margin: 0px;">
      <p style="margin: 0px; text-size-adjust: none; font-size: 16px; line-height: 24px; color: rgb(0, 0, 0);"><%- mailInfo.msg %></p>
   </td>
  </tr>

</tbody>
</table>
</td>
</tr>

<%- include('mail-footer.ejs') -%>